.empty-favorites {
  color: snow;
  background-color: #054b91b4;
  font-size: medium;
  border-radius: 4px;

}

.favorites-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 97%;
  height: 97%;
}
