.header {
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search {
  height: 2vh;
  width: 15vw;
}

.app-title {
  font-size: 5vh;
}

.record-icon {
  height: 15vh;
}

.landing-page-link,
.favorites-link {
  font-family: "Yeseva One";
  text-decoration: none;
  color: black;
  font-size: medium;
}
