.header {
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app-title {
  font-size: 2em;
  color: snow;
}
.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #054b91ed;
  border-radius: 12px;
  width:25vw;
  height: 10vh;
  margin-left: 2.5vw;
}

.nav-link-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #054b91ed;
  border-radius: 12px;
  width:15vw;
  height: 8vh;
  margin-right: 2vh;
}

.record-icon {
  height: 15vh;
  width: 15vh;
  margin: 2vh 1vw 1vh 3vw;
}

.landing-page-link,
.favorites-link {
  font-family: "Yeseva One";
  text-decoration: none;
  color: snow;
  font-size: .55em;
}


@media screen and (min-width: 500px) {
  .title-container,
  .nav-link-container {
    width: 40vw;
  }

  .app-title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 743px) {
  .title-container,
  .nav-link-container {
    width: 40vw;
  }

  .app-title {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .title-container,
  .nav-link-container {
    width: 25vw;
  }

  .app-title {
    font-size: 3em;
  }
}
