.no-artist {
  height: 70vh;
  width: 100vw;
}

.artist-container {
  /* height: 90%;
  width: 90%;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-box-shadow: 16px 15px 32px -6px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 16px 15px 32px -6px rgba(0, 0, 0, 0.67);
  box-shadow: 16px 15px 32px -6px rgba(0, 0, 0, 0.67);
  overflow-y: scroll; */
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 30%));
  grid-auto-rows: minmax(200px, 320px);
  grid-row-gap: 12%;
  grid-column-gap: 4.9%;
  justify-content: center;
  overflow-y: scroll;
  height: 75%;
  width: 97%;
  padding-bottom: 2.6%;
  background-color: gray;
  border-radius: 12px;
}
