.no-artist {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5vh;
}

.artists-container {
  height: 97%;
  width: 97%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 27px;
  justify-items: space-evenly;
  align-items: center;
  place-items: center;
  background-color: #81a4cddc;
  border-radius: 12px;
  -webkit-box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
  box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
  overflow: scroll;
}

.artists-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .artists-container {
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 27px;
    justify-items: space-evenly;
    align-items: center;
    place-items: center;
    background-color: rgba(240, 75, 75, 0.847);
    border-radius: 12px;
    -webkit-box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
    box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
    overflow: scroll;
  }
}

@media screen and (min-width: 501px) and (max-width: 743px) {
  .artists-container {
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 27px;
    justify-items: space-evenly;
    align-items: center;
    place-items: center;
    background-color: rgba(240, 75, 75, 0.847);
    border-radius: 12px;
    -webkit-box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
    box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
    overflow: scroll;
  }
}

@media screen and (min-width: 743px) and (max-width: 1023px) {
  .artists-container {
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 27px;
    justify-items: space-evenly;
    align-items: center;
    place-items: center;
    background-color: rgba(240, 75, 75, 0.847);
    border-radius: 12px;
    -webkit-box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
    box-shadow: 1px 7px 18px 13px rgba(0, 0, 0, 0.39);
    overflow: scroll;
  }
}
