.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  width: 15vw;
  border: 2px solid red;
  margin: 1vh;
  -webkit-box-shadow: 8px 6px 17px 11px rgba(0, 0, 0, 0.39);
  box-shadow: 8px 6px 17px 11px rgba(0, 0, 0, 0.39);
}

.card-image {
  height: 12vh;
}

.card-styler {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.artist-name-tag {
  font-size: large;
}

.learn-more {
  width: 10vw;
  height: 8vh;
  background: none;
  border-radius: 50px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}
