.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 32vh;
  width: 14vw;
  border: 2px solid red;
  margin: 1vh;
  -webkit-box-shadow: 8px 6px 17px 11px rgba(0, 0, 0, 0.39);
  box-shadow: 8px 6px 17px 11px rgba(0, 0, 0, 0.39);
}

.card-image {
  height: 12vh;
}

.card-styler {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
}
