.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: "OpenDyslexic Regular";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
