.error-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: 20px;
  color: black;
}
.headphones {
  height: 40vh;
}
